body{color: white;background-color: #000000;background-image: url(https://dl.dropbox.com/scl/fi/lrll0dkv57zuqqg9lsupe/Wallpaper-Abstract-Photos.jpg?rlkey=lvb1arbnspk2nhxm8vh7bnuz4)}
body{background-size: auto;background-repeat:no-repeat;background-attachment: fixed;}
#wrap {
    background-color: rgba(0,0,0,0.7);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    height: 100vh;
}
.btn {
    padding: 7px;
}
.btn {
    color: #efefef;
    background: none repeat scroll 0 0 rgba(13, 15, 15, 0.6) !important;
    border-color: black;
cursor: pointer;
}
.btn, .btn:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 110, 0, 0.6);
}

#vk_groups{width: 30vw; height: 70vh;}

a {color: white}

/*#motdrow{display: none}*/

#rad_select_main_text{color: white !important}
#rad_player{color: black !important;}
#rad_stationname {width: 255px !important}
#rad_dropdown, #rad_block_logo{display: none !important}
#rad_sound_btn {background-color: white !important}
#rad_block_volume {
    display: inline-block;
    padding: 15px !important;
    margin-right: 310px !important;
    color: white !important;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-corner {
    background: 0 0;
}
::-webkit-scrollbar-thumb {
    background: rgba(42, 59, 148, 0.5);
    border: 0 #fff;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover {
    background: #000a14;
    border: 0 #fff;
}
#news > center > span:nth-child(n){padding-bottom: 5px}

.date{color: red}

a:hover {
    color: #836fc1;
    text-decoration: none;
}
a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    max-width: 0;
    content: "";
    background-color: #836fc1;
    transition: max-width 150ms linear;
}

#wrap{min-height: 100%;height: auto;overflow-x: hidden;}
#rad_list{margin-top: 0px !important;}
#aframe > iframe{position: fixed;bottom:15px;margin-right: 70vw;top: 70px; height: calc(100vh - 150px) !important;width: calc(30vw - 5px)}
/*#chat{position: fixed;bottom:15px;margin-right: 70vw;top: 36px; height: calc(100vh - 150px) !important;width: calc(30vw - 5px)}*/

@media (max-width: 1015px){
#mainpage{margin-left: 0px !important;margin-right: 0px !important;width: 100% !important;padding-left: 0px !important; padding-right: 0px !important}
#inform{display: none}
body {font-size: large;}
#right-panel{margin-left: 0px !important;position:relative !important;width: 100vw !important;}
#vk_groups{width: 100vw;}
.wcommunity_wrap {padding: 0px !important;}
#leftpanel{margin-right: 70vw;position:fixed ;left: 0px;top: 0px;width: calc(30vw - 5px) !important; padding-right: 0px}
/*#radiobells_container{margin-right: 0px !important;position:relative !important;width: 100vw !important;}*/
#leftpanel{margin-right: 0px !important;position:relative !important;width: 100vw !important;}
#rad_list{margin-top: -170px !important;}
#aframe > iframe{position: fixed !important;bottom:0px;margin-right: 0px;left: 0px;top: 50px; height: calc(100vh - 50px) !important;width: 100vw;opacity:1;}
#af-btn{position: fixed;right: auto !important;bottom: auto !important;top: 5px;left: 0px;z-index: 1000 !important}
#news {height: 100% !important;}
}

@media (max-height: 571px){
#inform{display: none}
}
@media (max-height: 500px){
#right-panel{margin-left: 0px !important;position:relative !important;width: 100vw !important;}
#mainpage{margin-left: 0px !important;margin-right: 0px !important;width: 100% !important;padding-left: 0px !important; padding-right: 0px !important}
#inform{display: none}
#vk_widget_cm{display: none}
#leftpanel{margin-right: 70vw;position:fixed ;left: 0px;top: 0px;width: calc(30vw - 5px) !important;background-color: black; padding-right: 0px}
#leftpanel{margin-right: 0px !important;position:relative !important;width: 100vw !important;}
#rad_list{margin-top: -170px !important;}
#aframe > iframe{position: fixed !important;bottom:15px;margin-right: 0px;left: 0px;top: 0px; height: 100vh !important;width: 100vw;opacity:1;transition: 1s}
#chat{position: relative !important;bottom:15px;margin-right: 0px;left: 0px;top: 0px; height: 100vh !important;width: calc(100vw - 5px);opacity:1;transition: 1s}
#af-btn{position: fixed;right: auto !important;bottom: auto !important;top: 5px;left: 0px;z-index: 1000 !important}
}


/*@-moz-document url-prefix(){#doc_time > img{display: none}}
@supports (-ms-ime-align:auto) {#doc_time > img{display: none !important}}*/

@media screen and (max-width: 700px) {
  body {
    font-size:1.5em;
  }
  h2 {
    font-size:2.5em;
  }
}

.btn-success{background-color: transparent !important;}
.btn:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
	transform: scale(1.05);
}
.btn{
    -moz-transition: all 0.14s ease-out;
    -o-transition: all 0.14s ease-out;
    -webkit-transition: all 0.14s ease-out;
transition: all 0.14s ease-out;
}


@keyframes afbutton 
{
     0% { transform: rotateY(0deg); } 
    25% { transform: rotateY(90deg); } 
    50% { transform: rotateY(180deg); } 
    50% { transform: rotateY(270deg); } 
    100% { transform: rotateY(360deg); }
    } 


#af-btn > img{
    transform-style: preserve-3d;
    animation: afbutton 3s infinite;}

#af-btn{padding: 7px;}

#infowrap{margin-top: 15px; margin-bottom: 15px}

#mainpage{padding-top: 50px}

.slideimg{height: 250px;position: absolute;bottom: 0px;z-index: 1;right: 50px}
.slidetext{font-size: 14px}
@media (max-width: 1170px){
.slideimg{height: 200px}
}
@media (max-width: 768px){
.slideimg{height: 170px}
.slidetext{font-size: 12px; line-height: 1}
}

